{% extends '../base.html' %}
{% load static %}

{% block title %} {{ title|capfirst }} {% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align:center; font-family: Geneva, Arial, Helvetica, sans-serif;">{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-3" style="text-align: center;">

          <div class="user_avatar" style="text-align: left;">
            <img src="/media/{{ user.avatar }}" alt="{{ user.username }}" class="rounded-circle" height="250">
          </div>
            <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <p style="text-align: left;">
                    <label for="avatar">Аватар:</label>
                        {{ edit_form.avatar }}
                </p>
                <p style="text-align: left;">
                    <label for="username">Логин:</label>
                        {{ edit_form.username }}
                </p>
                <p style="text-align: left;">
                    <label for="first_name">Имя:</label>
                        {{ edit_form.first_name }}
                </p>
                <p style="text-align: left;">
                    <label for="email">Почта:</label>
                        {{ edit_form.email }}
                </p>
                <p style="text-align: left;">
                    <label for="age">Возраст:</label>
                        {{ edit_form.age }}
                </p>
                <button type="submit" class="btn btn-round btn-primary mt-3" style="margin-top: 20px; margin-bottom: 30px;">Сохранить</button>
            </form>
          <button class="btn btn-round btn-primary mb-5">
            <a href="{% url 'index' %}" style="color: white;">На главную</a>
          </button>
        </div>
    </div>
</div>


{% endblock %}
