{% extends '../base.html' %}
{% load static %}

{% block title %} {{ title|capfirst }} {% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align:left; font-family: Geneva, Arial, Helvetica, sans-serif;">{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-3" style="text-align: center;">
            <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                <p style="text-align: left;">
                    <label>Логин:</label>
                    {{ login_form.username }}
                    {{ login_form.errors.username }}
                </p>
                <p style="text-align: left;">
                    <label>Пароль:</label>
                    {{ login_form.password }}
                    {{ login_form.errors.password }}
                </p>
                <button type="submit" class="btn btn-round btn-primary mt-3">Войти</button>
            </form>
            <button class="btn btn-round btn-primary mt-3 mb-5">
                <a href="{% url 'auth:register' %}" class="text-light">Регистрация</a>
            </button>
        </div>
    </div>
</div>


{% endblock %}
