{% extends '../base.html' %}
{% load static %}

{% block title %} {{ title|capfirst }} {% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align: left; font-family: Geneva, Arial, Helvetica, sans-serif;">{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-3">
            <form style="align-items: center; text-align: center;" class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p style="text-align: left;">
                    <label for="username">Логин:</label>
                        {{ register_form.username }}
                        {{ register_form.errors.username }}
                </p>
                <p style="text-align: left;">
                    <label for="first_name">Имя:</label>
                        {{ register_form.first_name }}
                        {{ register_form.errors.first_name }}
                </p>
                <p style="text-align: left;">
                    <label for="password1">Пароль:</label>
                        {{ register_form.password1 }}
                        {{ register_form.errors.password1 }}
                </p>
                <p style="text-align: left;">
                    <label for="password2">Подтверждение пароля:</label>
                        {{ register_form.password2 }}
                        {{ register_form.errors.password2 }}
                </p>
                <p style="text-align: left;">
                    <label for="email">Почта:</label>
                        {{ register_form.email }}
                        {{ register_form.errors.email }}
                </p>
                <p style="text-align: left;">
                    <label for="age">Возраст:</label>
                        {{ register_form.age }}
                        {{ register_form.errors.age }}
                </p>
                <p style="text-align: left;">
                    <label for="avatar">Аватар:</label>
                        {{ register_form.avatar }}
                        {{ register_form.errors.avatar }}
                </p>
                <button type="submit" class="btn btn-primary mt-3 mb-5">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
